dist: trusty
sudo: required
language: node_js
node_js:
  - "8"
addons:
  chrome: stable
cache:
  directories:
    - ~/.npm
    - "node_modules"
before_install:
  - "curl https://install.meteor.com | /bin/sh"
  - export PATH="$HOME/.meteor:$PATH"
  - meteor --version
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script:
  - npm run eslint -s
  - npm test -s
